
<article class="coop-c-card coop-c-card--product coop-l-flex__item">                           
    <a href="/products/gordons-pink-gin-817029" class="coop-c-card__link coop-l-flex__item" data-contenttype="Card|Product" data-linktext="Gordon's&nbsp;Premium Pink Gin 70cl">
        <div class="coop-c-card__image">
            <picture>
                <source 
                    srcset="//images.ctfassets.net/6jpeaipefazr/61if0aSq2WoqUo6cQsC0Sm/232f6b8924d90a68f9efb8e7db8df16e/gordons-pink-gin-817029.jpg?fm=webp&amp;q=60&amp;w=300&amp;h=300&amp;fit=pad 1x,
                            //images.ctfassets.net/6jpeaipefazr/61if0aSq2WoqUo6cQsC0Sm/232f6b8924d90a68f9efb8e7db8df16e/gordons-pink-gin-817029.jpg?fm=webp&amp;q=60&amp;w=600&amp;h=600&amp;fit=pad 2x" type="image/webp">
                <img 
                    srcset="//images.ctfassets.net/6jpeaipefazr/61if0aSq2WoqUo6cQsC0Sm/232f6b8924d90a68f9efb8e7db8df16e/gordons-pink-gin-817029.jpg?fm=jpg&amp;fl=progressive&amp;q=60&amp;w=300&amp;h=300&amp;fit=pad 1x,
                            //images.ctfassets.net/6jpeaipefazr/61if0aSq2WoqUo6cQsC0Sm/232f6b8924d90a68f9efb8e7db8df16e/gordons-pink-gin-817029.jpg?fm=jpg&amp;fl=progressive&amp;q=60&amp;w=600&amp;h=600&amp;fit=pad 2x" 
                    src="//images.ctfassets.net/6jpeaipefazr/61if0aSq2WoqUo6cQsC0Sm/232f6b8924d90a68f9efb8e7db8df16e/gordons-pink-gin-817029.jpg?fm=jpg&amp;fl=progressive&amp;q=60&amp;w=300&amp;h=300&amp;fit=pad" alt="Gordon's&nbsp;Premium Pink Gin 70cl" title="Gordon's&nbsp;Premium Pink Gin 70cl" type="image/jpeg">
            </picture>
        </div>
        <div class="coop-c-card__content coop-l-flex__item">
            <h3 class="coop-c-card__title">Gordon's&nbsp;Premium Pink Gin 70cl </h3>
            <p class="coop-c-card__price">£18.50</p>
        </div>
    </a>
</article>

<article class="coop-c-card coop-c-card--product coop-l-flex__item">                           
    <a href="/products/gordons-pink-gin-817029" class="coop-c-card__link coop-l-flex__item" data-contenttype="Card|Product" data-linktext="Gordon's&nbsp;Premium Pink Gin 70cl">
        <div class="coop-c-card__image">
            <picture>
                <source 
                    srcset="//images.ctfassets.net/6jpeaipefazr/61if0aSq2WoqUo6cQsC0Sm/232f6b8924d90a68f9efb8e7db8df16e/gordons-pink-gin-817029.jpg?fm=webp&amp;q=60&amp;w=300&amp;h=300&amp;fit=pad 1x,
                            //images.ctfassets.net/6jpeaipefazr/61if0aSq2WoqUo6cQsC0Sm/232f6b8924d90a68f9efb8e7db8df16e/gordons-pink-gin-817029.jpg?fm=webp&amp;q=60&amp;w=600&amp;h=600&amp;fit=pad 2x" type="image/webp">
                <img 
                    srcset="//images.ctfassets.net/6jpeaipefazr/61if0aSq2WoqUo6cQsC0Sm/232f6b8924d90a68f9efb8e7db8df16e/gordons-pink-gin-817029.jpg?fm=jpg&amp;fl=progressive&amp;q=60&amp;w=300&amp;h=300&amp;fit=pad 1x,
                            //images.ctfassets.net/6jpeaipefazr/61if0aSq2WoqUo6cQsC0Sm/232f6b8924d90a68f9efb8e7db8df16e/gordons-pink-gin-817029.jpg?fm=jpg&amp;fl=progressive&amp;q=60&amp;w=600&amp;h=600&amp;fit=pad 2x" 
                    src="//images.ctfassets.net/6jpeaipefazr/61if0aSq2WoqUo6cQsC0Sm/232f6b8924d90a68f9efb8e7db8df16e/gordons-pink-gin-817029.jpg?fm=jpg&amp;fl=progressive&amp;q=60&amp;w=300&amp;h=300&amp;fit=pad" alt="Gordon's&nbsp;Premium Pink Gin 70cl" title="Gordon's&nbsp;Premium Pink Gin 70cl" type="image/jpeg">
            </picture>
        </div>
        <div class="coop-c-card__content coop-l-flex__item">
            <h3 class="coop-c-card__title">Gordon's&nbsp;Premium Pink Gin 70cl </h3>
            <p class="coop-c-card__price">£18.50</p>
            <ul class="coop-u-list-bare coop-c-list-tags">
                <li class="coop-c-list-tags__icon coop-c-icon">
                    <img class="coop-c-list-tags__icon__left" src="https://www.coop.co.uk/products/assets/static/images/wine/countrys/uk.svg" alt="" height="28" width="28">
                    <span>UK</span>
                </li>
            </ul>
        </div>
    </a>
</article>