{% macro render(content, cms, id, config) %}
  {% if content.videoUrl %}
    <div class="coop-c-video">
      {% set videoId = content.videoUrl.split('v=')[1] %}
      <iframe  class="coop-c-video__frame" src="https://www.youtube.com/embed/{{ videoId }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    {% if content.transcript %}
      <div class="coop-c-toggle coop-u-margin-tq">
        <a href="#toggle_{{ id }}" class="coop-c-toggle__trigger" aria-hidden="true"  data-toggle-text="Hide transcript" rel="nofollow">Show transcript</a>
        <div class="coop-c-toggle__content coop-u-visuallyhidden" id="toggle_{{ id }}">
          {{ content.transcript | markdown }}
        </div>
      </div>
    {% endif %}
  {% endif %}

{% endmacro %}
