---
layout: blank
id: examples
---
<div class="coop-l-grid">
    <div class="coop-l-grid-item coop-l-grid__item--lg-4 coop-l-grid__item--md-6 coop-l-grid__item--sm-12 coop-u-margin-t-64">
        {% include pattern-library/components/shared-component--featureCard/dist/featureCard.html %}
    </div>
</div>
<div class="coop-l-grid">
    <div class="coop-l-grid-item coop-l-grid__item--lg-6 coop-l-grid__item--md-6 coop-l-grid__item--sm-12">
        {% include pattern-library/components/shared-component--featureCard/dist/featureCard--horizontal.html %}
    </div>
</div>
