---
layout: blank
id: examples
---
<div class="coop-l-grid">
    <div class="coop-l-grid__item coop-l-grid__item--lg-12 coop-l-grid__item--md-12 coop-u-margin-t-64">
        {% include pattern-library/components/shared-component--membership/dist/membership.html %}
    </div>
    <div class="coop-l-grid__item coop-l-grid__item--lg-12 coop-l-grid__item--md-12 coop-u-margin-t-64">
        {% include pattern-library/components/shared-component--membership/dist/membership-signedin.html %}
    </div>
</div>
