@import "@coopdigital/foundations/src/vars/vars.pcss";
@import "@coopdigital/foundations/src/foundations.pcss";
@import "@coopdigital/shared-component--editorialcard/src/editorialCard.pcss";

@import "./Combobox.css";

body {
  background-color: var(--color-grey-neutral-light);
}
.main-content {
  background: white;
  box-shadow: var(--ui-shadow);
  border: 2px solid var(--color-light-dark);
  border-radius: 8px;
}
