
/* Synced with coop.co.uk - remove later */
@import "design-system/temp-vars.css";

/* Foundations */
@import "normalize.css/normalize.css";
@import "foundations-vars/src/vars.pcss";
@import "foundations-global/src/global.pcss";
@import "foundations-typography/src/typography.pcss";
@import "foundations-grid/src/grid.pcss";
@import "foundations-colors/src/colors.pcss";
@import "foundations-buttons/src/buttons.pcss";
@import "foundations-forms/src/forms.pcss";
@import "foundations-tables/src/tables.pcss";
@import "foundations-layout/src/layout.pcss";
/* Include legacy grid to help support projects still using it. */
@import "foundations-grid/dist/legacy-grid.css";


/* Components */
@import "component-search/src/component.pcss";
@import "component-card/src/card.pcss";  
@import "component-card--product/src/card--product.pcss";

/* Problems with these breaking the build
@import "component-skipnav/src/skipnav.pcss";
@import "component-signpost/src/signpost.pcss";*/
/* Removed as the base 64 encoding breaks the postCSScutomproperties plugin */
/* @import 'component-tags/dist/tags.css'; */


/* Design system */
@import "design-system/header.css";
@import "design-system/hero.css";
@import "design-system/sections.css";
@import "design-system/sub-navigation.css";
@import "design-system/signposts.css";
@import "design-system/card-floating.css";
@import "design-system/links.css";
@import "design-system/pills.css";
@import "design-system/statuses.css";
@import "design-system/pattern-example.css";
@import "design-system/code.css";
@import "design-system/swatches.css";
@import "design-system/states.css";
@import "design-system/footer.css";
