---
layout: default
title: Contributing to the design system
id: contribution
---

<article class="coop-l-container">
    {% include breadcrumbs.html %}
    {% for page in site.data.contentful.spaces.design-system-content.page %}
        {% if page.sys.id == '3bG3ueHNOWMg8RO7NRlBnD' %}
        <header>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--medium-8 intro-box">
                    <h1>{{ page.title }}</h1>
                    <div class="highlight-banner m-bh-med-b">
                        {{ page.introduction | markdownify }}
                    </div>
                </div>
            </div>
        </header>
        <div class="coop-l-grid">
            <div class="coop-l-grid__item coop-l-grid__item--medium-7">
                <section class="ds-section">
                    {{ page.content | markdownify }}
                </section>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </article>
</article>
