---
layout: default
id: guidance
body-page-class: dm-dark
---

<article class="coop-l-container">
{% include breadcrumbs.html %}
    <header>
        <div class="coop-l-grid">
            <div class="coop-l-grid-item col-md-8 col-sm-12 intro-box">
                <h1>This page has moved</h1>
                <div class="highlight-banner m-bh-med-b">
                    {{ page.introduction | markdownify }}
                </div>
            </div>
        </div>
    </header>
    <div class="coop-l-grid">
        <!-- <div class="coop-l-grid-item col-md-4 col-sm-12 fixedsticky">
            <nav>
                <ul class="coop-list-bare in-page-nav">
                    {% for item in page.in_page_navigation %}
                    <li><a href="#{{ item.section_id }}">{{ item.url_text }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div> -->
        <div class="coop-l-grid-item col-md-8 col-sm-12">
            <section class="ds-section">
                <p><a href="/content/index.html">The content design guidelines are now here</a>.</p>
            </section>
        </div>
    </div>
</article>
