---
layout: default
title: Content Principles
id: content-design-principles
redirect_to: https://coop.co.uk/experience-library/content-guidelines/how-we-write.html
---

<article class="coop-l-container">
    {% include breadcrumbs.html %}
    {% for page in site.data.contentful.spaces.design-system-content.page %}
        {% if page.sys.id == '6pZ7nCcL9mQoE0SEO8QW6' %}
        <header>
            <div class="coop-l-grid">
                <div class="coop-l-grid__item coop-l-grid__item--medium-8 intro-box">
                    <h1>{{ page.title }}</h1>
                    <div class="highlight-banner m-bh-med-b">
                        {{ page.introduction | markdownify }}
                    </div>
                </div>
            </div>
        </header>
        <div class="coop-l-grid">
            <div class="coop-l-grid__item coop-l-grid__item--medium-3 fixedsticky">
                <nav>
                    <ul class="coop-list-bare in-page-nav">
                        {% for item in page.in_page_navigation %}
                        <li><a href="#{{ item.section_id }}">{{ item.url_text }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="coop-l-grid__item coop-l-grid__item--medium-8 coop-l-grid__item--medium-offset-1">
                <section class="ds-section">
                    {{ page.content | markdownify }}
                </section>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</article>
