.ds-header {
    z-index: 1;
    position: relative;
    padding: 16px 0;  
}

@media (--mq-large) { 
    .ds-header {
        padding: 32px 0;  
    }
}

.ds-header--inner {
    margin-bottom: 16px;
    background: var(--color-woodsmoke);
}

.ds-header--inner .coop-logo path {
    fill: var(--color-white);
}

.ds-header--inner .ds-header__service-name {
    color: var(--color-white);
}

@media (--mq-large) { 
    .ds-header--inner {
        margin-bottom: 32px;  
    }
}

.ds-header .coop-logo {
    display: inline-block;
    width: auto;
    margin-left: 0;
    border: 0;
    text-decoration: none;
}

.ds-header .coop-l-wrap {
    max-height: 40px;
}

.coop-logo svg {
    display: inline-block;
}

.coop-logo path {
    fill: var(--color-brand);
}

.ds-header__service-name {
    display: inline-block;
    margin-left: 20px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.8;
    color: var(--color-text);
    vertical-align: top;
}

.ds-c-notice {
    width: 100%;
    padding: 16px; 
    margin-bottom: 16px;
    background: #D4EAF5;
    border-radius: 5px;
}

@media (--mq-large) { 
    .ds-c-notice {
        padding: 32px;
    }
}

.ds-c-notice p {
    width: 100%;
    margin-bottom: 0;
    padding-left: 64px;
}

@media (--mq-large) { 
    .ds-c-notice p {
        width: 75%;  
    }
}

.ds-c-notice__image {
    position: absolute;
    width: 32px;
}
