
.ds-section-bg {
    margin-bottom: 32px;
    padding: 32px 0;
}

.ds-section-bg--dark {
    background: var(--color-woodsmoke);
}

.ds-section-bg--light,
.coop-u-grey-light-bg {
    background: var(--color-grey-light);
}

.ds-feedback {
  margin-top: 32px;
}

@media (--mq-large) {
    .ds-feedback {
        margin-top: 64px;
    }
}

.ds-c-definition-list {
    font-size: 20px;
}

.ds-c-definition-list dt {
    margin-bottom: 12px;
}

.ds-c-definition-list dt .status {
    font-size: 20px;
}

table {
    font-size: 20px !important;
}

.ds-demo-block {
    display: block;
    width: 100%;
    min-height: 100px;
    border: 1px solid var(--color-grey-dark);
    background: var(--color-grey-mid);
}

.m-bh-med-b {
    margin-bottom: 32px;
}

.coop-u-padding-tb {
    padding-top: 32px;
}
