# OS stuff
.DS_Store

# dependencies
node_modules/
bower_components/
.bundle/
./vendor/

# Jekyll/styleguide builds
.env
.env*
!.env.sample
.sass-cache
.jekyll-metadata
build/
src/_data/contentful

# nmp linux stuff
npm-debug.log

# Editor caches
.idea/
