# Jekyll/styleguide builds
.env
.sass-cache
.jekyll-metadata
build/

# nmp linux stuff
npm-debug.log

# Editor caches
.idea/

# Updates from Contentful
src/_data/

# Components copied from node_modules
src/_includes/pattern-library/components/
