.DS_Store

# dependencies
node_modules/
bower_components/
.bundle/
./vendor/

# Jekyll/styleguide builds
.env
.sass-cache
.jekyll-metadata
build/

# nmp linux stuff
npm-debug.log

# Editor caches
.idea/

# Components copied from node_modules
src/_includes/pattern-library/components/
