<footer class="ds-c-footer">
    <div class="coop-l-container">
        <div class="coop-l-grid">
            <div class="coop-l-grid__item">
                <nav class="ds-c-footer__list">
                    <ul class="coop-u-list-bare">
                        <li {% if page.id == 'supported-devices' %} class="is--active" {% endif %}><a href="/supported-devices.html">Supported devices</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
